body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:lightblue;
}
h1{
    background-color: cornflowerblue; text-align: center;color: lightblue;
}
h2,h3{
    color: cadetblue; text-align: center;
}
li,p{ 
    color: cornflowerblue;

}