body{
    color: darkslategray;background-color:lightgrey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;

}
h1{
    background-color: gray;
    color: lightgray;
}