html, body{
    height: 100%;
    margin: 0;
    font-family: "lato", "sans-serif";
    color: #777;
}
.parallax1{
    position: relative;
    background-image: url("../img/img_parallax1.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;/*Fixa a imagem. e perimite que outros elementos da página "rolem"*/
    background-position: center;/*Posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionado*/
    background-repeat: no-repeat;/*Caso a imagem ou caso a tela seja maior que a imagem não permite que a imagem repita*/
    background-size: cover;/*Redimensiona a imagem de acordo com a tela do dispositivo mantendo a proporção*/
}
.caption{
    /*Altera a posição do texto*/
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border{
    /*Altera caracteristicas do texto: cor do fundo, cor do texto, espaçamento da borda, tamanho da fonte e espaçamento entre caracteres*/
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}
.parallax2{
    position: relative;
    background-image:url("../img/img_parallax2.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    position: relative;
    background-image:url("../img/img_parallax3.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1{
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
.box1 h3{
    text-align: center;
}
.box2{
    color: white;
    background-color: #5f5454;
    text-align: center;
    padding: 50px 80px;
}

/*Crie o seu parallax até o fim desta aula.*/