/*Este arquivoo tem por objetivo trabalhar com dimensoes do conteudo (padding,margin,border) e posicionamento do conteudo.*/
body{
    font-family: Arial, Helvetica, sans-serif;
   /*VERSÃO COMPLETA
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;*/
    margin: 60px 60px 60px 60px;
    /*VERSÃO COMPLETA
    border-style: solid;
    border-width: 2px;
    border-color: grey;*/
    border: 2px solid gray ;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding: left 20px; */
    padding: 20px;
}
h1{
    background-color: darkslateblue;
    color: white;
    width: 170px;
    height:40px;
    margin: 50px;
    padding: 20px;
    border: 2px dashed red;
}
p{
border: 1px solid blue;
width: 500px;
}
span{
    background-color: yellowgreen;
    color: blue;
}
.box1{
    background-color: yellow;
    color:blue;
    width: 400px;
    height: 50px;
    position: static;
    
}
.box2{
    background-color: burlywood;
    color: blue;
    width: 400px;
    height: 50px;
    position: relative;
    left: 450px;
    bottom: 50px;
}
.box3{
    background-color: aqua;
    color: blue;
    width: 400px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;

}
.box4{
    background-color: darkcyan;
    color: blue;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
}
.box5{
    background-color: purple;
    color: blue;
    width: 400px;
    height: 50px;
    position: sticky;
    left: 150px;
    bottom: 200px;

}
.layer1{
    background-color: cadetblue;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    bottom: 0px;
    left: 25px;
    z-index: 2;
}
.layer2{
    background-color: red;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    bottom: 20px;
    left: 50px;
    z-index: 1;

}

